<h1>Raffle</h1>
<div ng-controller="RaffleCtrl as raffle">
  <form>
    <input type="text"><br><br>
    <input type="submit">&nbsp;&nbsp;Add</input>
    <!-- <p>{{newEntry.name}}</p> -->
    <ul>
      <li ng-repeat="entry in raffle.entries">
        {{entry.name}}
      </li>
    </ul>
  </form>
</div>