<h1>Raffle</h1>
<div ng-app="myApp" ng-controller="raffleCtrl">
  <form ng-submit="addEntry(name)">
    <input type="text" ng-model="newEntry.name"><br><br>
    <input type="submit" value="Add"></input>
    <p>{{name}}</p>
  </form>
    <ul>
      <li ng-repeat="entry in entries">
        {{entry.name}}
        <span ng-show="entry.winner" ng-class="{highlight : entry == lastWinner}">WINNER!</span>
      </li>
    </ul>
    <button ng-click="drawWinner()">Draw Winner</button>
</div>